
<ng-content></ng-content>

<input type="checkbox" [checked]="childIsVisible" (change)="childIsVisible = !childIsVisible" />
Visible or Hidden

<ng-container *ngIf="childIsVisible">
  <borsa-ist-child-hooks #child [name]="name">
    <h1>Child</h1>
  </borsa-ist-child-hooks>
</ng-container>



<!-- $any angular 13 sonrasında any olarak tanımlanmış tipteki değerlere view üzerinden erişmek için $any service tanımı geldi.  -->

<input (change)="name= $any($event).target.value" placeholder="" />

<button (click)="onClick()">Click Me</button>